* {
    box-sizing:border-box;
    font-family: sans-serif;
}

body{
    padding: 0;
    margin: 0;

}

.scores{
    display:flex;
    justify-content:flex-start;
}

.hide {
    display:none;
}

.wrapper {
    margin: 60px auto;
    width: 800px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btnOption, button {
    background-color: blue;
    color: white;
    font-family: sans-serif;
    
}
