* {
    box-sizing:border-box;
    font-family: sans-serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.hide {
    display:none;
}

.wrapper {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

